 #cover{
 	position:fixed !important;
 	top:0 !important; 
 	left:0 !important;
 	background:rgba(0,0,0,0.6) !important;
 	z-index:5 !important;
 	width:100% !important;
 	height:100% !important;
 }
 #lockBox {
 	height:380px !important;
 	width:340px !important;
 	margin:0 auto !important;
 	position:relative !important; 
 	z-index:10 !important;
 	background-color: lightgray !important;
 	border:5px solid #cccccc !important;
 	border-radius:10px !important;
 	text-align: center !important;
 }

 .boxText {
 	margin-top: 20px !important;
 }

 #lockBox:target, #lockBox:target + #cover{
 	display:block !important;
 	opacity:2 !important;
 }

 .boxButton {
 	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
 	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
 	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
 	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
 	background-color:#b8e356;
 	-webkit-border-top-left-radius:0px;
 	-moz-border-radius-topleft:0px;
 	border-top-left-radius:0px;
 	-webkit-border-top-right-radius:0px;
 	-moz-border-radius-topright:0px;
 	border-top-right-radius:0px;
 	-webkit-border-bottom-right-radius:0px;
 	-moz-border-radius-bottomright:0px;
 	border-bottom-right-radius:0px;
 	-webkit-border-bottom-left-radius:0px;
 	-moz-border-radius-bottomleft:0px;
 	border-bottom-left-radius:0px;
 	text-indent:0;
 	border:1px solid #83c41a;
 	display:inline-block;
 	color:#ffffff;
 	font-family:Arial;
 	font-size:15px;
 	font-weight:bold;
 	font-style:normal;
 	height:40px;
 	line-height:40px;
 	width:100px;
 	text-decoration:none;
 	text-align:center;
 	text-shadow:2px 2px 0px #86ae47;
 }

 .boxButton:hover {
 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
 	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
 	background-color:#a5cc52;
 }

 .boxButton:active {
 	position:relative;
 	top:1px;
 }
 
 div {
 	text-align: center !important;
 }